
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
	font-family: 'Roboto', sans-serif !important; 
}

a{
    color : inherit;
    text-decoration: none;
}

body {

	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root{

	--navigation-height : 55px;
	--LeftMenu-width : 250px;

	--PreferBox-height : 550px;
	--PreferBox-ml : 7%;
	--SampleFixed-ml : 20%;
	
	--bgColor : #586BFF;
    --iconColor : #008EF5;
    --deepBlue : #0077B6;
    --fontBlue : #010043;

	--preferImgSize : 130px;
	--gridNum : 6;
	--preferChartContainer : 130px;

	--LeftMenu-width : 250px;
	
	--Chart-img-Margin-right : 20px;
	
	--Profile-ImgSize :150px;
	--Profile-Title-grayFontSize : 15px;
	--Profile-Title-NamefontSize : 30px;
	--Profile-Title-EmailfontSize : 25px;
	--Profile-Padding-Top : 30px;
	--Profile-Margin-right : 100px;

 }

 @media screen and (max-width : 1290px){
	:root{
		--gridNum : 5;
	}
 }

 @media screen and (max-width : 1100px){
	:root{
		--gridNum : 4;
	}
 }


 @media  (max-width : 991px)  {
	:root{
		

		--Profile-ImgSize :150px;
		--Profile-Title-grayFontSize : 15px;
		--Profile-Title-NamefontSize : 25px;
		--Profile-Title-EmailfontSize : 20px;
		--Profile-Padding-Top : 10px;
		

	 }
}

@media screen and (max-width : 920px){
	:root{
		--gridNum : 3;
	}
 }

 @media screen and (max-width : 740px){
	:root{
		--gridNum : 2;
	}
 }

@media  (max-width : 700px)  {
	:root{
		
		--Profile-ImgSize :0px;
		--Profile-Title-grayFontSize : 15px;
		--Profile-Title-NamefontSize : 25px;
		--Profile-Title-EmailfontSize : 20px;
		--Profile-Margin-right : 0px;
	 }
}



@media  (max-width : 600px)  {
	:root{
		
		--LeftMenu-width : 33.8843vw;
		

		--Chart-imgSize : 0px;
		--Chart-img-Margin-right : 0px;


	}
}


